
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:root{
    --blue:#033cf6 ;
    --lightblue:#aec2f0;
    --ping:#e49ba7;
    --closetopink:#e93131;
    --gray:#d7d7d7;
    --lightgray:#555;
    --box-shadow:0 7px 32px rgba(0 0 0/59%);
    --fontf: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ----------------------------here is the template is just started-----------------------------*/
.container{
    background-image: url(images/mian.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 999;
    background-attachment: fixed;
}
.container .overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background: rgba(143, 136, 136, 0.59);
    backdrop-filter: blur(10rem);
    box-shadow: 0 7px 32px rgba(0 0 0/59%);
    position: fixed;
    width: 100%;
    z-index: 99999999;
}   

header .logo .osm{
    font-size: 1.9rem;
    color: #fff;
}

.holder .navbar a{
    padding: 8px 15px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: 'Cambria',  'sansa serif';
    transition: all .3s ease ;
}


.holder .navbar a.active{
    background: #fff;
    color: #000;
    border-radius: 30px;
}

.holder .navbar a.active:hover{
    background: var(--closetopink);
    color: #fff;
}

.holder .navbar a:hover{
    opacity: 0.5;
}
.overlay .icon,
input[type='checkbox']{
    display: none;

}

.container .home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container .home .title h2{
    font-size: 4rem;
    color: #fff;
    width: 68rem;
    text-align: center;
    text-transform: capitalize;
}


.container .home .title p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

/* --------here is the body section ----------*/

.bg-color{
    background: var(--gray);
    width: 100%;
    /* position: absolute; */
    z-index: 999;
}

.bg-color .right_left{
    padding: 0 2%;
}

.bg-color .right_left .middle-content{
    width: 100%;
    background: #fff;
    position: relative;
    top: -14px;
    border-top-right-radius: 10px;

}
.top-left-items{
    position: absolute;
    top:-70px;
    z-index: 9999;
    background: #fff;
    width: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.top-left-items .hotel,
.top-left-items .flight{
    padding: 8px 15px;
    background: var(--lightblue);
    border-radius: 10px;
    transition: background .3s ease ;

}


.top-left-items .hotel{

    background: none;
}

.flight,
.hotel{
    text-transform: capitalize;
}

.flight:hover,
.hotel:hover{
    background: var(--closetopink);
}
.inline_items {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.secend-item label,
.first-item label{ 
    display: block;
    color: var(--lightgray);
    text-transform: capitalize;
    margin-bottom: 4px;
}



.border{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    border: 1px solid #000;
    padding: 20px 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
}

 select{
    width: 160px;
    height: 30px;
}
option{
    text-transform: capitalize;
    color: var(--blue);
    font-size:15px;
}

#top{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    border: dotted 1px #000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease;
}

#top:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow);
    border:solid 1px red;

}
.icons{
    margin-right: 90px;
    background: var(--blue);
    color: #fff;
    font-size: 30px;
    width: 100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease;
}

.icons:hover{
    background: var(--closetopink);
    transform: scale(1.1);
    box-shadow:0 7px 32px rgba(0 0 0/59%) ;
}

/* here is places section */

.section-title{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.section-title h3{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.places-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.places-items span{
    color: var(--blue);
    padding: 7px 25px;
    background: #fff;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition:all .3s ease ;
}

.places-items span:hover{
    transform: scale(1.1);
}

.places-items p{
    color: var(--lightgray);
    text-transform: capitalize;
    font-size: 17px;
}

/* here is the views section */

.views{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.views .card-view{
    width: 20rem;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
}

.views .card-view:hover{
    border: 1px solid #033cf6;
    transform: scale(1.1);
}

.views .left{
    margin-left: 50px;
}
.views .righ{
    margin-right: 50px;
}

.view-dis{
    display: flex;
}

.date{
    transform: rotate(90deg);
    position: relative;
    left: 143px;
    top: -10px;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-size: 17px;
    font-family: inherit;
    text-transform: uppercase;
    color: #746c6c;
}
.photo{
    width: 280px;
    height: 200px;
    margin: auto;
    margin-top: 18px;
    padding-right:20px ;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.bottom-card{
    margin-top: -20px;
    padding-left:22px ;
    margin-bottom: 10px;
}


.bottom-card span{
    color: var(--closetopink);
    padding: 0px 20px;
    background: var(--ping);
    border-radius: 10px;
}


.bottom-card span.blue{
    background:var(--lightblue);
    color: var(--blue);
}

.bottom-card p{
    color: var(--lightgray);
    text-transform: capitalize;
    margin-bottom: 10px;

}

.bottom-card h4{
    text-transform: capitalize;
    font-size: 18px;
    font-family: var(--fontf);
}

.footer-card{
    margin-left: 22px;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between ;
}

.footer-card p{
 font-weight: 700;
}

.footer-card span{
    font-weight: 200;
}

.footer-card a{
    margin-right: 22px;
    padding: 4px 10px;
    background: var(--lightblue);
    color: var(--blue);
    border-radius: 10px;
    transition: all .3s ease;
}

.footer-card a:hover{
    letter-spacing: 2px;
}


/*------ here is the travel section------- */

.travel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.pinnes span{
    display: block;
    color: #033cf6;  
    font-size: 23px;
    font-weight: 700;
}

.pinnes.top{
    width: 7rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: -33rem;
    left: 82%;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--lightgray);
}


.pinnes.bottom{
    width: 7rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: -25rem;
    left: 0%;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--lightgray);
}

.pinnes.left{
    width: 7rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: -16rem;
    left: 87%;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--lightgray);
}

.travel .image{
    width: 400px;
    height: 600px;
    margin-left: 30px;
}

.travel .image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.travel .right{
    width: 50%;
    margin-top: 20px;
}

.travel .right h2{
    font-size: 30px;
    text-transform: capitalize;
    width: 70%;
    line-height: 1.5;
    margin-bottom: 30px;
}
.travel .right span,
.travel  .right p{
    color: var(--lightgray);
    line-height: 1.8;
    font-family: var(--fontf);
    margin-bottom: 20px;
    display: block;
}


.right a{
    padding: 10px 20px;
    background: var(--blue);
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 8px;
    transition: all .3s ease;
}

.right a:hover{
    background: var(--ping);
    box-shadow: var(--box-shadow);
    letter-spacing: 2px;
}


/* ------here is the commen destinations----------- */


.bg-color.move-top{
    margin-top: -0px;
    padding-top: 40px;
}

.move-top .places-items{
    padding-bottom: 30px;
}


.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.popular .image {
    width:270px;
    height: 200px;
}

.popular .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.popular .image i{
    position: relative;
    top: -198px;
    left: 13rem;
    font-size: 14px;
    color: yellow;
    background: #fff;
    padding: 1px 3px;
    border-radius: 20px;
}
.popular .image i span{
    color: #000;
}

.wrap{
    padding: 0 5%;
}

.popular .popular-items{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.popular .popular-items:hover{
    transform: scale(1.1);
    border: 1px blue solid;
}

.popular .popular-items h3{
    font-family: var(--fontf);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.popular .popular-items .foot i {
    color: var(--ping);
}

.popular .popular-items .foot span{
    text-transform: capitalize;

}

/* here is what people siad */


.comments{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row ;
    flex-wrap: wrap;
}

 .comment-card{
    width: 27rem;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 150px;
  
}


.comment-card .comments-inside{
    text-align: center;
    line-height: 1.8;
    text-transform: capitalize;
    font-family: var(--fontf);
    border: solid 2px blue;
    border-radius: 10px;
    padding: 10px;
}

.comments-inside span{
    color: var(--blue);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 100;
}

.comments-inside h4{
    color: var(--lightgray);
    font-size: 21px;
    font-weight: 100;

}
.comments .image{
    width: 140px;
    height: 140px;
    margin: auto;
    position: relative;
    background: linear-gradient(100deg , #e49ba7, blue);
    background-position: right;
    background-size: 200% 200%;
    animation: anime 2s linear infinite;
    padding: 16px ;
    border-radius: 50%;
    top: 50px;
}

@keyframes anime{
    30%{
        background-position:right top ;
    }
    50%{
        background-position:right bottom ;
    }
    70%{
        background-position:left bottom ;
    }
    100%{
        background-position:right bottom ;
    }
}

.comments .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.comment-card .comments-inside i{
    position: absolute;
    background: #000;
    width: 46px;
    height: 44px;
    color: #fff;
    line-height: 44px;
    border-radius: 50%;
    right: -4px;
    color: yellow;
}

.comment-card .comments-inside i span{
    color: #fff;

}



/* ----here is the register section------ */

.wrapper{
    background-image:url(images/footer.jpg) ;
    width: 100%;
    height: 240px;
    background-position: top;
    background-size: cover;
    border-radius: 20px;
    background-attachment: fixed;
}

.wrapper .register{
    width: 50%;
    margin: auto;
}

.register .reg-desc{
    font-size: 40px;
    color: #fff;
    font-family: var(--fontf);
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    text-transform: capitalize;
}

.register .letter-a{
    text-align: center;
    margin-top: 20px;
}

.register a:hover{
    letter-spacing: 2px;
    background: var(--ping);
    color: #fff;
}
.register a{
    padding:10px 19px;
    background: #fff;
    color: var(--blue);
    font-size: 19px; 
    text-transform: capitalize;
    border-radius: 10px;
    transition: all .3s ease;

}

/*here is the last section (footer)  */

.footer{
    margin-top: 50px;
}

.footer .footer-items{
    width: 100%;
    height: 40px;
    background: #bbbbbb;
    padding: 10px 0;
}

.footer .footer-items h4{
    color: #2a2929;
    font-weight: 500;
}

.footer .footer-items h4 span{
    color: var(--blue);
}